<tr class="totals">
  <td align="right"><%= t :"activerecord.attributes.work_order.subcontractor_costs" %></td>
  <td></td>
  <td></td>
  <td></td>
  <td align="right" id="foot-totals"><%= number_with_precision('0', precision: 4) %></td>
  <td><a href="#" onclick="javascript:$('#subcontractors-table').trigger('totals'); return false;"><i class="icon-refresh"></i></a></td>
</tr>
