<tr>
  <td><%= tool.tool.full_name %></td>
  <td align="right"><%= number_with_precision(tool.minutes, precision: 2) %></td>
  <td align="right"><%= number_with_precision(tool.cost, precision: 4) %></td>
  <td align="right"><%= number_with_precision(tool.costs, precision: 4) %></td>
</tr>
