<tr class="totals">
  <td>
    <a id="icon-new-tool-btn" href="#" onclick="javascript:$('.fnt-new-tool-btn').click(); return false;"><i class="icon-plus"></i></a>
    <span class="right-floated"><%= t :"activerecord.attributes.work_order.tool_minutes" %> | <%= t :"activerecord.attributes.work_order.tool_costs" %></span>
  </td>
  <td align="right" id="foot-minutes"><%= number_with_precision('0', precision: 2) %></td>
  <td></td>
  <td align="right" id="foot-totalt"><%= number_with_precision('0', precision: 4) %></td>
  <td><a href="#" onclick="javascript:$('#tools-table').trigger('totals'); return false;"><i class="icon-refresh"></i></a></td>
</tr>
