<tr>
  <td><%= vehicle.vehicle.full_name %></td>
  <td align="right"><%= number_with_precision(vehicle.distance, precision: 2) %></td>
  <td align="right"><%= number_with_precision(vehicle.cost, precision: 4) %></td>
  <td align="right"><%= number_with_precision(vehicle.costs, precision: 4) %></td>
</tr>
