<tr>
  <td><%= worker.worker.full_name %></td>
  <td align="right"><%= number_with_precision(worker.hours, precision: 4) %></td>
  <td align="right"><%= number_with_precision(worker.cost, precision: 4) %></td>
  <td align="right"><%= number_with_precision(worker.costs, precision: 4) %></td>
</tr>
