<%= render '/layouts/ag2_directory/corpcontactsbreadcrumb' %>

<h3>Edit Contact</h3>

<%= render 'form' %>

<%= link_to 'Show Contact', @corp_contact %> |
<%= link_to 'Back to ag2CorporateContacts', corp_contacts_path %>
