<%= render '/layouts/ag2_gest/sdirectorybreadcrumb' %>
<%= render :partial => '/layouts/searchhead_remote', :locals => { :title => t(".title"), :path => street_directories_path } %>

<div class="span11" id="div_table">
  <%= render 'street_directories' %>
</div>
