<%= render '/layouts/ag2_gest/centersbreadcrumb' %>

<%#= render :partial => '/layouts/searchhead_remote', :locals => { :title => t(".title"), :path => centers_path } %>

<h3><%= t(".title") %></h3>

<div class="span8" id="div_table">
  <%= render 'centers' %>
</div>