<%= render '/layouts/ag2_admin/zipcodesbreadcrumb' %>
<%= render :partial => '/layouts/searchhead_remote', :locals => { :title => t(".title"), :path => zipcodes_path } %>

<div class="span10" id="div_table">
  <%= render 'zipcodes' %>
</div>
