<%= render '/layouts/ag2_admin/cmtypesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t("ag2_purchase.cash_movement_types.back_to_main_page"), cash_movement_types_path %>
