<%= render '/layouts/ag2_human/trecordtypesbreadcrumb' %>

<h3>Edit TimeRecord Type</h3>

<%= render 'form' %>

<%= link_to 'Show TimeRecord Type', @timerecord_type %> |
<%= link_to 'Back to TimeRecord Types', timerecord_types_path %>
