<% session[:return_to_subscriber] = nil %>
<% session[:return_to_subscriber_url] = nil %>
<% session[:return_to_tariff_scheme] = nil %>
<% session[:return_to_tariff_scheme_url] = nil %>

<%= render '/layouts/ag2_gest/tarifftypesbreadcrumb' %>

<%#= render :partial => '/layouts/searchhead_remote', :locals => { :title => t(".title"), :path => tariff_types_path } %>

<h3><%= t(".title") %></h3>

<div class="span8" id="div_table">
  <%= render 'tariff_types' %>
</div>
