<%= render '/layouts/ag2_admin/dataimportbreadcrumb' %>

<h3>Edit Config</h3>

<%= render 'form' %>

<%= link_to 'Show Config', @data_import_config %> |
<%= link_to 'Back to Data Import Configs', data_import_configs_path %>
