<%= render '/layouts/ag2_gest/metertypesbreadcrumb' %>

<%#= render :partial => '/layouts/searchhead_remote', :locals => { :title => t(".title"), :path => meter_types_path } %>

<h3><%= t(".title") %></h3>

<div class="span8" id="div_table">
  <%= render 'meter_types' %>
</div>
