<script>
  jQuery(function($) {
    // when the #user_office_ids_? check_box changes
    $("[id ^=user_office_ids]").change(function() {
      // make a POST call and replace the content
      var chkd = $(this).prop('checked');
      var box = $(this).val();
      if (box == "")
        box = "0";
      jQuery.getJSON('update_company_organization_from_office/' + box, function(data) {
        $("input:checkbox[id=user_company_ids_" + data.company_id + "]").prop('checked', chkd);
        $("input:checkbox[id=user_organization_ids_" + data.organization_id + "]").prop('checked', chkd);
      })
      return false;
    });

    // when the #user_company_ids_? check_box changes
    $("[id ^=user_company_ids]").change(function() {
      // make a POST call and replace the content
      var chkd = $(this).prop('checked');
      var box = $(this).val();
      if (box == "")
        box = "0";
      jQuery.getJSON('update_organization_from_company/' + box, function(data) {
        $("input:checkbox[id=user_organization_ids_" + data.organization_id + "]").prop('checked', chkd);
      })
      return false;
    });
  });
</script>

<%= render '/layouts/ag2_admin/usersbreadcrumb' %>

<h3><%=t '.title' %></h3>
<div class="span11" id="div_table">
  <%= render 'users' %>
</div>
