<h1>Listing contracting_request_types</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contracting_request_types.each do |contracting_request_type| %>
  <tr>
    <td><%= link_to 'Show', contracting_request_type %></td>
    <td><%= link_to 'Edit', edit_contracting_request_type_path(contracting_request_type) %></td>
    <td><%= link_to 'Destroy', contracting_request_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contracting request type', new_contracting_request_type_path %>
