<%= render '/layouts/ag2_gest/contractingrequesttypesbreadcrumb' %>

<%#= render :partial => '/layouts/searchhead_remote', :locals => { :title => t(".title"), :path => contracting_request_types_path } %>

<h3><%= t(".title") %></h3>

<div class="span8" id="div_table">
  <%= render 'contracting_request_types' %>
</div>