<%= render '/layouts/ag2_gest/contractingrequesttypesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t('ag2_gest.contracting_request_types.back_to_main_page'), contracting_request_types_path %>