<%= render '/layouts/ag2_directory/sharedcontactsbreadcrumb' %>

<h3>Edit Contact</h3>

<%= render 'form' %>

<%= link_to 'Show Contact', @shared_contact %> |
<%= link_to 'Back to Shared Contacts', shared_contacts_path %>
