<%= render '/layouts/ag2_gest/saleofferstatusesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t('ag2_gest.sale_offer_statuses.back_to_main_page'), sale_offer_statuses_path %>