<%= form_for(@budget_period) do |f| %>
  <% if @budget_period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget_period.errors.count, "error") %> prohibited this budget_period from being saved:</h2>

      <ul>
      <% @budget_period.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
