<%= render '/layouts/ag2_human/departmentsbreadcrumb' %>

<h3>Edit Department</h3>

<%= render 'form' %>

<%= link_to 'Show Department', @department %> |
<%= link_to 'Back to Departments', departments_path %>
