<%= render '/layouts/ag2_gest/annotationclassesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t("ag2_gest.subscriber_annotation_classes.back_to_main_page"), subscriber_annotation_classes_path %>
