<%= render '/layouts/ag2_gest/invoicestatusessbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t('ag2_gest.invoice_statuses.back_to_main_page'), invoice_statuses_path %>
