<%= render '/layouts/ag2_gest/invoicetypesbreadcrumb' %>

<%#= render :partial => '/layouts/searchhead_remote', :locals => { :title => t(".title"), :path => invoice_types_path } %>

<h3><%= t(".title") %></h3>

<div class="span8" id="div_table">
  <%= render 'invoice_types' %>
</div>