<%= form_for(@receipt_note) do |f| %>
  <% if @receipt_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt_note.errors.count, "error") %> prohibited this receipt_note from being saved:</h2>

      <ul>
      <% @receipt_note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
