<%= render '/layouts/ag2_products/familiesbreadcrumb' %>
<%= render :partial => '/layouts/searchhead_remote', :locals => { :title => t(".title"), :path => product_families_path } %>

<div class="span11" id="div_table">
  <%= render 'product_families' %>
</div>
