<% ledger_accounts.each do |w| %>
<tr>
  <td><%= w.ledger_account.code unless w.ledger_account.code.blank? %></td>
  <td><%= w.ledger_account.name unless w.ledger_account.name.blank? %></td>
  <td><%= w.ledger_account.accounting_group.to_label unless w.ledger_account.accounting_group.blank? %></td>
  <td><%= w.company.full_name unless w.company.blank? %></td>
</tr>
<% end %>
