<%= render '/layouts/ag2_gest/readingincidencetypesbreadcrumb' %>

<%#= render :partial => '/layouts/searchhead_remote', :locals => { :title => t(".title"), :path => reading_incidence_types_path } %>

<h3><%= t(".title") %></h3>

<div class="span8" id="div_table">
  <%= render 'reading_incidence_types' %>
</div>