<%= render '/layouts/ag2_gest/readingincidencetypesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t('ag2_gest.reading_incidence_types.back_to_main_page'), reading_incidence_types_path %>