<tr>
  <td></td>
  <td><a id="icon-new-btn" href="#" onclick="javascript:$('.fnt-new-btn').click(); return false;"><i class="icon-plus"></i></a></td>
  <td align="right" id="foot-quantity"><%= number_with_precision('0', precision: 4) %></td>
  <td><a href="#" onclick="javascript:$('#items-table-nc').trigger('totals'); return false;"><i class="icon-refresh"></i></a></td>
</tr>
