<h1>Listing inventory_counts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventory_counts.each do |inventory_count| %>
  <tr>
    <td><%= link_to 'Show', inventory_count %></td>
    <td><%= link_to 'Edit', edit_inventory_count_path(inventory_count) %></td>
    <td><%= link_to 'Destroy', inventory_count, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inventory count', new_inventory_count_path %>
