<h1>Listing contract_template_terms</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contract_template_terms.each do |contract_template_term| %>
  <tr>
    <td><%= link_to 'Show', contract_template_term %></td>
    <td><%= link_to 'Edit', edit_contract_template_term_path(contract_template_term) %></td>
    <td><%= link_to 'Destroy', contract_template_term, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contract template term', new_contract_template_term_path %>
