<%= render '/layouts/ag2_gest/contracttemplatetermsbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t('ag2_gest.contract_template_terms.back_to_main_page'), contract_template_terms_path %>
