<%= render '/layouts/ag2_admin/baclassesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t('ag2_admin.bank_account_classes.back_to_main_page'), bank_account_classes_path %>
