<%= render '/layouts/ag2_gest/crequestsbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form_connection' %>

<%= link_to t("ag2_gest.contracting_requests.back_to_main_page"), contracting_requests_path %>
