<% session[:resolution] = 'LD' %>
<%= render '/layouts/portalbreadcrumb' %>

<!-- Apps Thumbnails -->
<ul class="thumbnails">
  <!-- Apps 1 -->
  <li class="span4">
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/icon/ag2Finance.png" width="48" height="48" alt="ag2Finance" /><h5 class="h5-narrow">ag2Finance</h5></a>
  </li>
  <li class="span4">
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/icon/ag2Gest.png" width="48" height="48" alt="ag2Gest" /><h5 class="h5-narrow">ag2Gest</h5></a>
  </li>
  <li class="span4">
    <a href="<%= ag2_human.root_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Human.png" width="48" height="48" alt="ag2Human" /><h5 class="h5-narrow">ag2Human</h5></a>
  </li>
</ul><!-- /.thumbnails -->
<ul class="thumbnails">
  <!-- Apps 2 -->
  <li class="span4">
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/icon/ag2Purchase.png" width="48" height="48" alt="ag2Purchase" /><h5 class="h5-narrow">ag2Purchase</h5></a>
  </li>
  <li class="span4">
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/icon/ag2Tech.png" width="48" height="48" alt="ag2Tech" /><h5 class="h5-narrow">ag2Tech</h5></a>
  </li>
  <li class="span4">
    <a href="http://ag2teamnet.aguaygestion.com:82/default.aspx" target="_blank" class="thumbnail centered"><img src="/assets/icon/ag2TeamNet.png" width="48" height="48" alt="ag2TeamNet" /><h5 class="h5-narrow">ag2TeamNet</h5></a>
  </li>
</ul><!-- /.thumbnails -->
<ul class="thumbnails">
  <!-- Apps 3 -->
  <li class="span3">
    <a href="http://mail.google.com/a/aguaygestion.com" target="_blank" class="thumbnail centered"><img src="/assets/icon/google/ag2Mail.png" width="48" height="48" alt="ag2Mail" /><h5 class="h5-narrow">Gmail</h5></a>
  </li>
  <li class="span3">
    <a href="http://www.google.com/calendar/hosted/aguaygestion.com" target="_blank" class="thumbnail centered"><img src="/assets/icon/google/ag2Calendar.png" width="48" height="48" alt="ag2Calendar" /><h5 class="h5-narrow">Google Calendar</h5></a>
  </li>
  <li class="span3">
    <a href="http://docs.google.com/a/aguaygestion.com" target="_blank" class="thumbnail centered"><img src="/assets/icon/google/ag2Drive.png" width="48" height="48" alt="ag2Drive" /><h5 class="h5-narrow">Google Drive</h5></a>
  </li>
  <li class="span3">
    <a href="http://www.google.com" target="_blank" class="thumbnail centered"><img src="/assets/icon/google/ag2Search.png" width="48" height="48" alt="ag2Search" /><h5 class="h5-narrow">Google Search</h5></a>
  </li>
</ul><!-- /.thumbnails -->
