<%= render '/layouts/ag2_human/pgroupsbreadcrumb' %>

<h3>Edit Professional group</h3>

<%= render 'form' %>

<%= link_to 'Show Professional group', @professional_group %> |
<%= link_to 'Back to Professional group', professional_groups_path %>
