<h1>Listing professional_groups</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @professional_groups.each do |professional_group| %>
  <tr>
    <td><%= link_to 'Show', professional_group %></td>
    <td><%= link_to 'Edit', edit_professional_group_path(professional_group) %></td>
    <td><%= link_to 'Destroy', professional_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Professional group', new_professional_group_path %>
