<%= render '/layouts/ag2_human/pgroupsbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t('ag2_human.professional_groups.back_to_main_page'), professional_groups_path %>
