<%= render '/layouts/ag2_gest/servicepointtypebreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t('ag2_gest.service_point_types.back_to_main_page'), service_point_types_path %>
