<%= render '/layouts/ag2_human/wtypesbreadcrumb' %>

<h3>Edit Worker type</h3>

<%= render 'form' %>

<%= link_to 'Show Worker type', @worker_type %> |
<%= link_to 'Back to Worker types', worker_types_path %>
