<%= render '/layouts/ag2_purchase/paymentsbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t("ag2_purchase.supplier_payments.back_to_main_page"), supplier_payments_path %>
