<h1>Listing meter_models</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meter_models.each do |meter_model| %>
  <tr>
    <td><%= link_to 'Show', meter_model %></td>
    <td><%= link_to 'Edit', edit_meter_model_path(meter_model) %></td>
    <td><%= link_to 'Destroy', meter_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meter model', new_meter_model_path %>
