<%= render '/layouts/ag2_gest/waterconnectiontypebreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t('ag2_gest.water_connection_types.back_to_main_page'), water_connection_types_path %>
