<h1>Listing work_order_statuses</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @work_order_statuses.each do |work_order_status| %>
  <tr>
    <td><%= link_to 'Show', work_order_status %></td>
    <td><%= link_to 'Edit', edit_work_order_status_path(work_order_status) %></td>
    <td><%= link_to 'Destroy', work_order_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work order status', new_work_order_status_path %>
