<%= form_for(@commercial_billing) do |f| %>
  <% if @commercial_billing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commercial_billing.errors.count, "error") %> prohibited this commercial_billing from being saved:</h2>

      <ul>
      <% @commercial_billing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
