<h1>Listing contracting_request_statuses</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contracting_request_statuses.each do |contracting_request_status| %>
  <tr>
    <td><%= link_to 'Show', contracting_request_status %></td>
    <td><%= link_to 'Edit', edit_contracting_request_status_path(contracting_request_status) %></td>
    <td><%= link_to 'Destroy', contracting_request_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contracting request status', new_contracting_request_status_path %>
