<% orders.each do |w| %>
<tr>
  <td><%= link_to w.order_no, w %></td>
  <td><%= w.project.name unless w.project.blank? %></td>
  <td><%= w.started_at unless w.started_at.blank? %></td>
  <td><%= w.completed_at unless w.completed_at.blank? %></td>
</tr>
<% end %>
