<%= render '/layouts/ag2_human/cagreementsbreadcrumb' %>

<h3>Edit Collective agreement</h3>

<%= render 'form' %>

<%= link_to 'Show Collective agreement', @collective_agreement %> |
<%= link_to 'Back to Collective agreements', collective_agreements_path %>
