<%= render '/layouts/ag2_gest/billingfrequenciesbreadcrumb' %>

<%#= render :partial => '/layouts/searchhead_remote', :locals => { :title => t(".title"), :path => billing_frequencies_path } %>

<h3><%= t(".title") %></h3>

<div class="span8" id="div_table">
 	<%= render 'billing_frequencies' %>
</div>