<%= render '/layouts/ag2_gest/billableconceptsbreadcrumb' %>

<%#= render :partial => '/layouts/searchhead_remote', :locals => { :title => t(".title"), :path => billable_concepts_path } %>

<h3><%= t(".title") %></h3>

<div class="span12" id="div_table">
  <%= render 'billable_concepts' %>
</div>
