<h1>Listing regulation_types</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @regulation_types.each do |regulation_type| %>
  <tr>
    <td><%= link_to 'Show', regulation_type %></td>
    <td><%= link_to 'Edit', edit_regulation_type_path(regulation_type) %></td>
    <td><%= link_to 'Destroy', regulation_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Regulation type', new_regulation_type_path %>
