<%= render '/layouts/ag2_gest/regulationtypebreadcrumb' %>

<%#= render :partial => '/layouts/searchhead_remote', :locals => { :title => t(".title"), :path => calibers_path } %>

<h3><%= t(".title") %></h3>

<div class="span8" id="div_table">
  <%= render 'regulation_types' %>
</div>