<h1>Listing water_supply_contracts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @water_supply_contracts.each do |water_supply_contract| %>
  <tr>
    <td><%= link_to 'Show', water_supply_contract %></td>
    <td><%= link_to 'Edit', edit_water_supply_contract_path(water_supply_contract) %></td>
    <td><%= link_to 'Destroy', water_supply_contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Water supply contract', new_water_supply_contract_path %>
