<%= render '/layouts/ag2_directory/sharedcontacttypesbreadcrumb' %>

<h3>Edit contact Type</h3>

<%= render 'form' %>

<%= link_to 'Show contact Type', @shared_contact_type %> |
<%= link_to 'Back to Shared contact Types', shared_contact_types_path %>
