<% content_for :title, "aGestiona2 | ag2DataImport" %>
<% content_for :icon, "/assets/icon/ag2DataImport.png" %>
<% content_for :alt, "ag2DataImport" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_human.root_path %>">ag2Human</a><span class="divider">></span>
  </li>
  <li>
    ag2DataImport
  </li>
  <a class="close" href="<%= ag2_human.root_path %>">&#215;</a>
</ul>
