<% workers.each do |w| %>
<tr>
  <td><%= link_to w.worker_code, w %></td>
  <td><%= w.full_name %></td>
  <td><%= w.company.name unless w.company.nil? %></td>
  <td><%= w.office.name unless w.office.nil? %></td>
</tr>
<% end %>
