<tr>
  <td align="right"><%= t :"activerecord.attributes.worker_salary.items_sum" %></td>
  <td align="right"><%= number_to_currency(salary.items_sum, precision: 2, locale: :es) %></td>
  <td></td>
</tr>
