<%= render '/layouts/ag2_admin/streettypesbreadcrumb' %>

<h3>Edit Street Type</h3>

<%= render 'form' %>

<%= link_to 'Show Street type', @street_type %> |
<%= link_to 'Back to Street types', street_types_path %>
