<%= form_for(@formality) do |f| %>
  <% if @formality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@formality.errors.count, "error") %> prohibited this formality from being saved:</h2>

      <ul>
      <% @formality.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
