<%= render '/layouts/ag2_gest/readingroutesbreadcrumb' %>

<%#= render :partial => '/layouts/searchhead_remote', :locals => { :title => t(".title"), :path => reading_routes_path } %>

<h3><%= t(".title") %></h3>

<div class="span8" id="div_table">
  <%= render 'reading_routes' %>
</div>