<%= render '/layouts/ag2_human/ctypesbreadcrumb' %>

<h3>Edit Contract type</h3>

<%= render 'form' %>

<%= link_to 'Show Contract type', @contract_type %> |
<%= link_to 'Back to Contract types', contract_types_path %>
