<tr class="totals">
  <td align="right"><%= t :"activerecord.attributes.supplier_invoice.approved_to_paid" %></td>
  <td></td>
  <td align="right" id="foot-totala"><%= number_with_precision('0', precision: 4) %></td>
  <td></td>
  <td><a href="#" onclick="javascript:$('#approvals-table').trigger('totals'); return false;"><i class="icon-refresh"></i></a></td>
</tr>
