<tr class="totals">
  <td align="right"><%= t :"activerecord.attributes.supplier_invoice.approved_to_pay" %></td>
  <td></td>
  <td align="right"><%= number_with_precision(note.approved_to_pay, precision: 4, delimiter: I18n.locale == :es ? "." : ",") unless note.approved_to_pay.blank? %></td>
  <td></td>
</tr>
