<%= render '/layouts/ag2_purchase/invoicesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t("ag2_purchase.supplier_invoices.back_to_main_page"), supplier_invoices_path %>
