<div class="dialog">
  <img src="/assets/pict/Error-404-256.png" width="256" height="256" alt="Error 404" />
  <h2><%= t(:error_file_not_found_h) %></h2>
  <p><%= t(:error_file_not_found_p) %></p>
</div>
