<div class="dialog">
  <img src="/assets/pict/Error-422-256.png" width="256" height="256" alt="Error 422" />
  <h2><%= t(:error_unprocessable_h) %></h2>
  <p><%= t(:error_unprocessable_p) %></p>
</div>
