<%= render '/layouts/ag2_human/trecordcodesbreadcrumb' %>

<h3>Edit TimeRecord Code</h3>

<%= render 'form' %>

<%= link_to 'Show TimeRecord Code', @timerecord_code %> |
<%= link_to 'Back to TimeRecord Codes', timerecord_codes_path %>
