<%= render '/layouts/ag2_gest/complaintstatusesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t("ag2_gest.complaint_statuses.back_to_main_page"), complaint_statuses_path %>
