<% content_for :title, "aGestiona2 | ag2Logistics" %>
<% content_for :icon, "/assets/icon/ag2Logistics.png" %>
<% content_for :alt, "ag2Logistics" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    ag2Logistics
  </li>
  <a class="close" href="<%= main_app.root_path %>">&#215;</a>
</ul>
