<% products.each do |w| %>
<tr>
  <td><%= link_to w.product_code, w %></td>
  <td><%= w.main_description[0,40] %></td>
  <td align="right"><%= number_to_currency(w.reference_price, precision: 4, locale: :es) unless w.reference_price.blank? %></td>
  <td align="right"><%= number_with_precision(w.stock, precision: 4, locale: :es) unless w.stock.blank? %></td>
</tr>
<% end %>
