<% stocks.each do |w| %>
<tr>
  <td><%= link_to w.product.product_code, w %></td>
  <td><%= w.product.main_description %></td>
  <td><%= w.store.name %></td>
  <td><%= w.current unless w.current.blank? %></td>
</tr>
<% end %>
