<!DOCTYPE html>
<html>
<head>
  <title>Ag2Products</title>
  <%= stylesheet_link_tag    "ag2_products/application", :media => "all" %>
  <%= javascript_include_tag "ag2_products/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
