<% session[:return_to_subscriber] = nil %>
<% session[:return_to_subscriber_url] = nil %>

<%= render '/layouts/ag2_gest/usesbreadcrumb' %>

<h3><%= t("ag2_gest.uses.index.title") %></h3>

<div class="span8" id="div_table">
  <%= render 'uses' %>
</div>
