<%= render '/layouts/ag2_human/trecordsbreadcrumb' %>

<h3>Edit Time Record</h3>

<%= render 'form' %>

<%= link_to 'Show Time Record', @time_record %> |
<%= link_to 'Back to Time Records', time_records_path %>
