<%= render '/layouts/ag2_human/trecordsbreadcrumb' %>

<h3>Edit TimeRecord</h3>

<%= render 'form' %>

<%= link_to 'Show TimeRecord', @time_record %> |
<%= link_to 'Back to TimeRecords Management', time_records_path %>
