<%= render '/layouts/ag2_gest/readingincidencesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t('ag2_gest.reading_incidences.back_to_main_page'), reading_incidences_path %>