<% session[:return_to] = nil %>
<% session[:return_to_url] = nil %>

<script>
$(document).ready(function () {
  // Date picker
  $('.date_picker').datepicker({
    format : 'dd/mm/yyyy',
    weekStart : 1
  }).on('changeDate', function(e){
    $('.date_picker').datepicker('hide');
  });
});

</script>

<%= render '/layouts/ag2_gest/billsbreadcrumb' %>

<% if @bills.first.bill %> <h3><%= t(".titlebill") %></h3> <% else %> <h3><%= t(".title") %></h3> <% end %>

<div class="span11">
  <div id="loader"></div>
  <div id="div_table">
    <%= render "bills" %>
  </div>
</div>
