<script>
$(document).ready(function () {
  // Date picker
  $('.date_picker').datepicker({
    format : 'dd/mm/yyyy',
    weekStart : 1
  }).on('changeDate', function(e){
    $('.date_picker').datepicker('hide');
  });
});

</script>

<%= render '/layouts/ag2_gest/billsbreadcrumb' %>


<h3><%= t(".title") %></h3>
<div class="span12">
  <div id="loader"></div>
  <div id="div_table">
    <%= render "bills" %>
  </div>
</div>
