<div class="row-fluid" style="padding-top: 12px">
  <div class="span4 well sidebar-nav">
    <table>
      <tbody>
        <% @guides.each do |g| %>
        <tr>
          <td><a href="#" target="content"><%= g.name %></a></td>
        </tr>
        <% g.subguides.each do |s| %>
        <tr>
          <td style="padding-left: 1em"><a href="#" target="content"><%= s.name %></a></td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="span8" id="content">
    <p>
      Find me in app/views/guide/index.html.erb
    </p>
  </div>
</div>
