<script>
  jQuery(function($) {
    // when the .guide link is clicked
    $(".guide").click(function(e) {
      e.preventDefault();
      // make a POST call and replace the content
      var _this = (this);
      setContent(_this, 'gu_content_from_guide/');
      return false;
    });

    // when the .subguide link is clicked
    $(".subguide").click(function(e) {
      e.preventDefault();
      // make a POST call and replace the content
      var _this = (this);
      setContent(_this, 'gu_content_from_subguide/');
      return false;
    });

    // Set content
    function setContent(_this, f) {
      var t = _this.innerText;
      jQuery.getJSON(f + t, function(data) {
        if (data.content != null) {
          document.getElementById("content").innerHTML = '<h4 class="guide-h4">' + t + '</h4>' + data.content
        } else {
          document.getElementById("content").innerHTML = '<h4 class="guide-h4">' + t + '</h4>'
        }
      });
    }
  });
</script>

<div class="row-fluid" style="padding-top: 12px">
  <div class="span4 well sidebar-nav">
    <table>
      <tbody>
        <% @guides.each do |g| %>
        <tr>
          <td><a href="#" class="guide"><%= g.name %></a></td>
        </tr>
        <% g.subguides.each do |s| %>
        <tr>
          <td style="padding-left: 1em"><a href="#" class="subguide"><%= s.name %></a></td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="span8" id="content">
    <h4 class="guide-h4"><%= @guide.name.html_safe %></h4>
    <%= @guide.body.html_safe %>
  </div>
</div>
