<%= render '/layouts/ag2_tech/toolsbreadcrumb' %>
<%= render :partial => '/layouts/searchhead_remote', :locals => { :title => I18n.t("ag2_tech.tools.index.title"), :path => tools_path } %>

<div class="span11" id="div_table">
  <%= render 'tools' %>
</div>
