<a id="sub_load_annotation_button" href="#AddAnnotation" class="btn btn-mini btn-primary" data-toggle="modal"><%= t('activerecord.attributes.subscriber.add_annotation') %></a>
<% if (@annotations.count > 0) %>
  <table class="table table-condensed table-striped shrinked">
    <thead>
      <%= render 'annotationsheader' %>
    </thead>
    <tbody>
      <%= render :partial => 'annotations', :locals => { :annotations => @annotations } %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/pagination_ok', :locals => { :ivar => @annotations, :pvar => "annotation_page"} %>
<% end %>
