<% content_for :title, "aGestiona2 | ag2Subscribers" %>
<% content_for :icon, "/assets/pict/ag2/ag2Subscriber.png" %>
<% content_for :alt, "ag2SaleSubscribers" %>

<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.root_path %>">ag2Gest</a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.subscribers_path %>">Abonados</a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.subscribers_show_test_path %>">Abonado</a><span class="divider">></span>
  </li>
  <li>
    Nueva factura
  </li>
</ul>

<h3>Nueva factura para Pedro Martín García</h3>


<div class="row-fluid">
  <div class="span6">
    <h4>Datos Sumnistro</h4>
    <table class="table table-center table-striped stu">
      <tr>
        <td><b>Cod.</b></td><td>556</td>
        <td><b>DNI</b></td><td>83947593</td>
      </tr>
      <tr>
        <td><b>Nombre</b></td><td colspan="3">Pedro Martín García</td>
      </tr>
      <tr>
        <td><b>Población</b></td><td>Fregenal de la sierra</td>
        <td><b>Núcleo</b></td><td>Fregenal sierra</td>
      </tr>
      <tr>
        <td><b>Dirección</b></td><td colspan="3">c/ de la Iglesia 7</td>
      </tr>
      <tr>
        <td><b>C.P.</b></td><td>06340</td>
        <td><b>Provincia</b></td><td>Badajoz</td>
      </tr>
    </table>
  </div>
  <div class="span6">
    <h4>Datos Correo</h4>
    <table class="table table-center table-condensed table-striped shrinked stu">
      <tr>
        <td><b>Nombre</b></td><td colspan="3">José Pérez Martín</td>
      </tr>
      <tr>
        <td><b>Dirección</b></td><td>c/ de la Iglesia 7</td>
        <td><b>Provincia</b></td><td>Badajoz</td>
      </tr>
      <tr>
        <td><b>C.P.</b></td><td>06340</td>
        <td><b>Población</b></td><td>Fregenal de la sierra</td>
      </tr>
    </table>
    <h4>Equipo de medida</h4>
    <table class="table table-center table-condensed table-striped shrinked stu">
      <tr>
        <td><b>Nº contador</b></td><td><a href="#">12341243223ZTY</a></td>
        <td><b>Calibre</b></td><td>12</td>
      </tr>
      <tr>
        <td><b>Marca</b></td><td>Samsung</td>
        <td><b>Modelo</b></td><td>XYZ-234235</td>
      </tr>
    </table>
  </div>
</div>
<div class="row-fluid well">
  <div class="span3">
    <h4>Datos facturación</h4>
    <div class="row-fluid">
      <div class="span6">
        <label class="string required control-label form-label">
          Período
        </label>
        <div class="controls">
          <input class="string required m-large-text-field" type="date" value="2014-01-01">
        </div>
        <label class="string required control-label form-label">
          hasta
        </label>
        <div class="controls">
          <input class="string required m-large-text-field" type="date" value="2014-03-31">
        </div>
      </div>

      <div class="span6">
        <label class="string required control-label form-label">
          Vencimiento
        </label>
        <div class="controls">
          <input class="string required m-large-text-field" type="date" value="2014-01-01">
        </div>
        <label class="string required control-label form-label">
          Secuencia
        </label>
        <div class="controls">
          <input class="string required m-large-text-field" type="number" value="23456">
        </div>
      </div>
    </div>
  </div>

  <div class="span3">
    <h4>Lecturas</h4>
    <label class="string required control-label form-label">
      desde
    </label>
    <div class="controls">
      <input class="string required mid-text-field" type="date" value="2014-01-01">
      <input class="string required small-text-field" type="number" value="2201">
    </div>
    <label class="string required control-label form-label">
      hasta
    </label>
    <div class="controls">
      <input class="string required mid-text-field" type="date" value="2014-03-31">
      <input class="string required small-text-field" type="number" value="2246">
    </div>
  </div>
  
  <div class="span3">
    <h4>Consumos</h4>
    <label class="string required control-label form-label">
      Estimado
    </label>
    <div class="controls">
      <input class="string required large-text-field" type="number" value="0">
    </div>
    <label class="string required control-label form-label">
      Otro consumo
    </label>
    <div class="controls">
      <input class="string required large-text-field" type="number" value="0">
    </div>
  </div>

  <div class="span3">
    <h4>IVA</h4>
    <label class="string required control-label form-label">
      Tipo
    </label>
    <div class="controls">
      <input class="string required large-text-field" type="number" value="0">
    </div>
    <label class="string required control-label form-label">
      Base
    </label>
    <div class="controls">
      <input class="string required large-text-field" type="number" value="0">
    </div>
  </div>
</div>

<div class="row-fluid">
      
  <div class="span9">
    <div class="accordion" id="accordion1">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
            Bloques Suministros, Saneamiento y Depuracion
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            <table class="table table-center table-condensed table-striped shrinked stu span4">
              <caption><h5>Suministro</h5></caption>
              <thead>
                <th></th>
                <th>Consumo</th>
                <th>Importe</th>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><input type="number" value="15" class="mid-text-field"></td>
                  <td><input type="number" value="5.25" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><input type="number" value="15" class="mid-text-field"></td>
                  <td><input type="number" value="8.25" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><input type="number" value="15" class="mid-text-field"></td>
                  <td><input type="number" value="11.25" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>6</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>7</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td><b>Total</b></td>
                  <td>45</td>
                  <td>24.75</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-center table-condensed table-striped shrinked stu span4">
              <caption><h5>Saneamiento</h5></caption>
              <thead>
                <th></th>
                <th>Consumo</th>
                <th>Importe</th>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>6</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>7</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td><b>Total</b></td>
                  <td class="text-center">0</td>
                  <td class="text-center">0</td>
                </tr>
              </tbody>
            </table>

            <table class="table table-center table-condensed table-striped shrinked stu span4">
              <caption><h5>Depuración</h5></caption>
              <thead>
                <th></th>
                <th>Consumo</th>
                <th>Importe</th>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>6</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>7</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td><b>Total</b></td>
                  <td>0</td>
                  <td>0</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
            Cuotas fijas, canones e incidencias
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse in">
          <div class="accordion-inner">
            <table class="table table-center table-condensed table-striped shrinked stu span4">
              <caption><h5>CMA</h5></caption>
              <thead>
                <th></th>
                <th>Consumo</th>
                <th>Importe</th>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>6</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td>7</td>
                  <td><input type="number" value="0" class="mid-text-field"></td>
                  <td><input type="number" value="0" class="large-text-field"></td>
                </tr>
                <tr>
                  <td><b>Total</b></td>
                  <td class="text-center">0</td>
                  <td class="text-center">0</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-center table-condensed table-striped shrinked stu span4">
              <caption><h5>Cuotas fijas/Canones</h5></caption>
              <tr>
                <td>Cuota fija suministro</td>
                <td><input type="number" value="0" class="mid-text-field"></td>
              </tr>
              <tr>
                <td>Bonificaión</td>
                <td><input type="number" value="0" class="mid-text-field"></td>
              </tr>
              <tr>
                <td>Saneam. cuota fija</td>
                <td><input type="number" value="0" class="mid-text-field"></td>
              </tr>
              <tr>
                <td>Despuración cuota fija</td>
                <td><input type="number" value="0" class="mid-text-field"></td>
              </tr>
              <tr>
                <td>Depuración variable</td>
                <td><input type="number" value="0" class="mid-text-field"></td>
              </tr>
              <tr>
                <td>Tasa basura</td>
                <td><input type="number" value="0" class="mid-text-field"></td>
              </tr>
              <tr>
                <td>Cons. Contador</td>
                <td><input type="number" value="0" class="mid-text-field"></td>
              </tr>
              <tr>
                <td>Lectura de contador</td>
                <td><input type="number" value="0" class="mid-text-field"></td>
              </tr>
              <tr>
                <td>Canon Saneamiento</td>
                <td><input type="number" value="0" class="mid-text-field"></td>
              </tr>
              <tr>
                <td>Canon de inversión</td>
                <td><input type="number" value="0" class="mid-text-field"></td>
              </tr>
              <tr>
                <td>Canon de sequía</td>
                <td><input type="number" value="0" class="mid-text-field"></td>
              </tr>
              <tr>
                <td>Vertido</td>
                <td><input type="number" value="0" class="mid-text-field"></td>
              </tr>
              <tr>
                <td>CMA cuota fija</td>
                <td><input type="number" value="0" class="mid-text-field"></td>
              </tr>
              <tr>
                <td>CMA cuota variable</td>
                <td><input type="number" value="0" class="mid-text-field"></td>
              </tr>
            </table>
            <table class="table table-center table-condensed table-striped shrinked stu span4">
              <caption><h5>Incidencias</h5></caption>
              <tr>
                <td>
                  <label class="checkbox">
                    <input type="checkbox">Sin contador
                  </label>
                </td>
                <td>
                  <label class="checkbox">
                    <input type="checkbox">No Facturable
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox">
                    <input type="checkbox">Derivación
                  </label>
                </td>
                <td>
                  <label class="checkbox">
                    <input type="checkbox">Consumo estimado
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox">
                    <input type="checkbox">Reconectado
                  </label>
                </td>
                <td>
                  <label class="checkbox">
                    <input type="checkbox">Regulación manual
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox">
                    <input type="checkbox">No corresponde
                  </label>
                </td>
                <td>
                  <label class="checkbox">
                    <input type="checkbox">Octavilla
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox">
                    <input type="checkbox">Roto
                  </label>
                </td>
                <td>
                  <label class="checkbox">
                    <input type="checkbox">Cerrado
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox">
                    <input type="checkbox">Deshabitada sin Lectura
                  </label>
                </td>
                <td>
                  <label class="checkbox">
                    <input type="checkbox">Deshabitada con Lectura
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox">
                    <input type="checkbox">Avería
                  </label>
                </td>
                <td>
                  <label class="checkbox">
                    <input type="checkbox">Consumo excesivo
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox">
                    <input type="checkbox">Lectura inferior
                  </label>
                </td>
                <td>
                  <label class="checkbox">
                    <input type="checkbox">Vuelta de contador
                  </label>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="span3">
   <table class="table table-center table-condensed table-striped shrinked stu">
      <tr>
        <td><h6>Suministro</h6></td>
        <td><h6>202.26 €</h6></td>
      </tr>
      <tr>
        <td><h6>Saneamiento</h6></td>
        <td><h6>0 €</h6></td>
      </tr>
      <tr>
        <td><h6>Depuración</h6></td>
        <td><h6>34.29 €</h6></td>
      </tr>
      <tr>
        <td><h6>Otros</h6></td>
        <td><h6>0 €</h6></td>
      </tr>
      <tr>
        <td><h6>IVA</h6></td>
        <td><h6>0 €</h6></td>
      </tr>
      <tr>
        <td><h4>TOTAL</h4></td>
        <td><h5>236.55 €</h5></td>
      </tr>
    </table>
    <div class="span12">
      <div class="span6" style="box-sizing: border-box;">
        <button class="btn btn-primary btn-block btn-mini">Aplicar tarifas</button>
        <button class="btn btn-primary btn-block btn-mini">Recalcular</button>
        <a href="show_test" class="btn btn-success btn-block btn-mini">Confirmar</a>
      </div>
      <div class="span6" style="box-sizing: border-box;">
        <a href="/assets/ag2_gest/bill.pdf" target="_blank" class="btn btn-primary btn-mini btn-block">Imprimir</a>
        <a href="https://docs.google.com/document/u/0/" class="btn btn-primary btn-mini btn-block" target="_blank">GDocs</a>
        <a href="show_test" class="btn btn-danger btn-block btn-mini">Cancelar</a>
      </div>
    </div>
  </div>
    
  </div>
</div>

<style type="text/css">
  td input{
    margin-bottom: 0px !important;
    height: 12px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }
  td label{
    font-size: 12px !important;
  }
</style>