<h1>Listing reading_types</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reading_types.each do |reading_type| %>
  <tr>
    <td><%= link_to 'Show', reading_type %></td>
    <td><%= link_to 'Edit', edit_reading_type_path(reading_type) %></td>
    <td><%= link_to 'Destroy', reading_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reading type', new_reading_type_path %>
