<h1>Listing infrastructures</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @infrastructures.each do |infrastructure| %>
  <tr>
    <td><%= link_to 'Show', infrastructure %></td>
    <td><%= link_to 'Edit', edit_infrastructure_path(infrastructure) %></td>
    <td><%= link_to 'Destroy', infrastructure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Infrastructure', new_infrastructure_path %>
