<% session[:return_to_meter] = nil %>
<% session[:return_to_meter_url] = nil %>

<%= render '/layouts/ag2_gest/metersbreadcrumb' %>

<%#= render :partial => '/layouts/searchhead_remote', :locals => { :title => t(".title"), :path => meters_path } %>

<h3><%=t '.title' %></h3>

<div class="span3">
	<%= render 'filters' %>
</div>

<div class="span8" id="div_table">
  <%= render 'meters' %>
</div>
