<!--
  Bill
  Invoice
  Client
  Original payday
  Status
  Current payday
  Original debt
  Original debt + current surcharge
  Current debt
  Delete button
-->
<tr class="totals">
  <td></td>
  <td></td>
  <td align="right"><%= t "activerecord.attributes.debt_claim.totals" %></td>
  <td></td>
  <td></td>
  <td></td>
  <td align="right"><%= number_with_precision(claim.subtotals, precision: 4, delimiter: I18n.locale == :es ? "." : ",") unless claim.subtotals.blank? %></td>
  <td align="right"><%= number_with_precision(claim.totals, precision: 4, delimiter: I18n.locale == :es ? "." : ",") unless claim.totals.blank? %></td>
  <td align="right"><%= number_with_precision(claim.current_total, precision: 4, delimiter: I18n.locale == :es ? "." : ",") unless claim.current_total.blank? %></td>
  <td></td>
</tr>
