/*
 * Globals
 */
body {
}
#main {
  padding-bottom: 56px;
}
.header-nav-li {
  padding-top: 13px;
}
.h5-narrow {
  margin: 0px 0;
}
a:hover, a:focus {
  text-decoration: none;
}
.underlined {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.centered {
  text-align: center;
}
.shrinked {
  font-size: smaller;
}
.footer-nav-li {
  padding-top: 6px;
}
.footer-nav-brand {
  display: block;
  padding: 2px 0px 2px 0px;
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
}

/*
 * User sessions and registrations
 */
.sign {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  border: 1px solid #d4d4d4;
}
.sign-h3 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: #da4f49;
  text-rendering: optimizelegibility;
}
.sign-field {
  width: 96%;
}
.sign-label {
  font-weight: bold;
}
.sign-description {
  /* top right bottom left */
  margin-right: 20px;
}

/*
 * Forms (SimpleForm)
 */
/* Form text fields */
.x-large-text-field {
  width: 97%;
}
.large-text-field {
  width: 72%;
}
.mid-text-field {
  width: 48%;
}
.small-text-field {
  width: 24%;
}
.x-small-text-field {
  width: 12%;
}
.number-text-field {
  text-align: right;
}
/* Multi-field form text fields (inside label tag) */
.multi-field-label-two {
  display: inline-block;
  width: 49.82%;
}
.multi-field-label-three {
  display: inline-block;
  width: 33.09%;
}
.multi-field-label-three-thinner {
  display: inline-block;
  width: 23.09%;
}
.multi-field-label-three-wider {
  display: inline-block;
  width: 53.09%;
}
/* Form labels */
.form-label {
  font-weight: bold;
}
