/*
 * Info
 *  top right bottom left
 * Defaults
 *  color: #333333;
 *  background-color: #ffffff;
 */

/*
 * Globals
 */
body {
}
#main {
  padding-bottom: 56px;
}
.header-nav-li {
  padding-top: 13px;
}
.h5-narrow {
  margin: 0px 0;
}
a:hover,
a:focus {
  text-decoration: none;
}
.underlined {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.centered {
  text-align: center;
}
.left-winged {
  text-align: left;
}
.right-winged {
  text-align: right;
}
.shrinked {
  font-size: smaller;
}
.x-shrinked {
  font-size: x-small;
}
.bolded {
  font-weight: bold;
}
.highlighted {
  color: #a67326;
}
.emailed {
  color: #0066b2;
}
.selected {
  color: #da4f49;
}
.left-floated {
  float: left;
}
.right-floated {
  float: right;
}
.footer-nav-li {
  padding-top: 6px;
}
.footer-nav-brand {
  display: block;
  padding: 2px 0px 2px 0px;
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
}
.dropdown-menu-submenu {
    min-width: 160px !important;;
}
/*
 * Pretty Hyperlinks
 */
/* Table header links (sorting) */
th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
  color: #333333;  
}
th .asc { 
  background-image: image-url("icon/glyph/black/halflings/up_arrow.gif");
}
th .desc { 
  background-image: image-url("icon/glyph/black/halflings/down_arrow.gif");
}
th .current:hover,
th .current:focus {
  color: #a67326;  
}

/*
 * User sessions and registrations
 */
.sign {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  border: 1px solid #d4d4d4;
}
.sign-h3 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: #da4f49;
  text-rendering: optimizelegibility;
}
.sign-field {
  width: 96%;
}
.sign-label {
  font-weight: bold;
}
.sign-description {
  margin-right: 20px;
}

/*
 * Guides
 */
.guide-h4 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: #da4f49;
  text-rendering: optimizelegibility;
}

/*
 * Data import
 */
.import-box {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  border: 1px solid #d4d4d4;
}
.import-h3 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: #62b135;
  text-rendering: optimizelegibility;
}
.import-description {
  margin-right: 30px;
}
.import-caution {
  font-weight: bold;
  color: #da4f49;  
}

/*
 * Control & Tracking
 */
.track-box {
  background-color: #f2f2f2;
  padding: 20px 20px 0 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  border: 1px solid #d4d4d4;
}
.track-h3 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: #0081c2;
  text-rendering: optimizelegibility;
}
.track-description {
  margin-right: 30px;
}
.track-caution {
  font-weight: bold;
  color: #da4f49;  
}

/*
 * Forms (SimpleForm)
 */
/* Form text fields */
.x-large-text-field {
  width: 97%;
}
.m-large-text-field {
  width: 85%;
}
.large-text-field {
  width: 72%;
}
.mid-text-field {
  width: 48%;
}
.small-text-field {
  width: 24%;
}
.x-small-text-field {
  width: 12%;
}
.number-text-field {
  text-align: right;
}
.hidden-text-field {
  display: none;
}
/* Multi-field form text fields (inside label tag) */
.multi-field-label-two {
  display: inline-block;
  width: 49.82%;
}
.multi-field-label-two-table {
  display: inline-table;
  width: 49.82%;
}
.multi-field-label-three {
  display: inline-block;
  width: 33.09%;
}
.multi-field-label-three-table {
  display: inline-table;
  width: 33.09%;
}
.multi-field-label-three-thinner {
  display: inline-block;
  width: 23.09%;
}
.multi-field-label-three-thinner-quarter {
  display: inline-block;
  width: 24.65%;
}
.multi-field-label-three-wider {
  display: inline-block;
  width: 53.09%;
}
.multi-field-label-three-wider-half {
  display: inline-block;
  width: 50%;
}
.multi-field-label-four {
  display: inline-block;
  width: 24.59%;
}
label.required_:before {
  content: "*"
}

/* Sub-Form (items) text fields */
.sub-bordered-input {
  background-color: #ffffff !important;
  border: 1px solid #cccccc !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s !important;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s !important;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s !important;
          transition: border linear 0.2s, box-shadow linear 0.2s !important;
}

.sub-form {
  display: inline-block;
  //height: 20px !important;
  //line-height: 20px !important;
  width: 99% !important;
  padding: 3px 2px !important;
  margin-bottom: 0px !important;
  font-size: 12px !important;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  // Default color attributes
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}
.sub-alfanumeric-text-field {
  text-align: left !important;
  width: 99% !important;
  padding: 3px 2px !important;
  margin-bottom: 0px !important;
  font-size: 12px !important;
}
.sub-number-text-field {
  text-align: right !important;
  width: 99% !important;
  padding: 3px 2px !important;
  margin-bottom: 0px !important;
  font-size: 12px !important;
}
.sub-disabled-field {
  background-color: #eeeeee !important;
  color: black !important;
}
.sub-select-field {
  text-align: left !important;
  width: 99% !important;
  margin-bottom: 0px !important;
  font-size: 12px !important;
}
.sub-select2-field {
  font-size: 12px !important;
  width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
}
/* Form labels */
.form-label {
  font-weight: bold;
}
/* Special top padded form label for use under sel2 dropdown */
.form-label-under-sel2 {
  font-weight: bold;
  margin-top: 10px;
}
/* Form tables */
.form-table {
  width: 100%;
}
.form-tr {
  width: 100%;
}
.form-td-two {
  width: 50%;
}
.form-td-three {
  width: 33%;
}
/* Form errors */
.base-error {
  color: #b94a48;
}
/* Special top padded form button for use under sel2 dropdown */
.form-button-under-sel2 {
  margin-top: 10px;
}

/*
 * Buttons inside text field
 */
/* Validate button */
span.validateicon {
  position: relative;
}
span.validateicon span {
  position: absolute;
  display: block;
  top: -3px;
  right: 2px;
  width: 16px;
  height: 16px;
  z-index: 1;
  background: url('icon/glyph/black/halflings/ok.png');
  cursor: pointer;
}
span.validateicon input {
  padding-right: 16px;
}
/* Clear button */
span.clearicon {
  position: relative;
}
span.clearicon span {
  position: absolute;
  display: block;
  top: 2px;
  right: 2px;
  width: 16px;
  height: 16px;
  z-index: 1;
  background: url('icon/glyph/black/halflings/remove.png');
  cursor: pointer;
}
span.clearicon input {
  padding-right: 16px;
}
/* Generate button */
span.generateicon {
  position: relative;
}
span.generateicon span {
  position: absolute;
  display: block;
  top: -3px;
  right: 2px;
  width: 16px;
  height: 16px;
  z-index: 1;
  background: url('icon/glyph/black/halflings/play.png');
  cursor: pointer;
}
span.generateicon input {
  padding-right: 16px;
}
/* Edit button */
span.editicon {
  position: relative;
}
span.editicon span {
  position: absolute;
  display: block;
  top: 1px;
  right: 2px;
  width: 14px;
  height: 14px;
  z-index: 1;
  background: url('icon/glyph/black/halflings/pencil14.png');
  cursor: pointer;
}
span.editicon input {
  padding-right: 14px;
}

/*
 * Bands - Toolbars
 */
.blue-band {
  background-color: #0066b2;
  color: white;
  padding: 5px 4px 5px 4px; 
  margin: 0;
}
.blue-band a {
  color: #ffffff;
}
.blue-band a:hover {
  color: #f8960c;
}
.blue-separator {
  background-color: #0066b2;
  color: #0066b2;
}
.yellow-band {
  background-color: #f8960c;
  color: white;   
  padding: 3px 4px 3px 4px; 
  margin: 0;
}
.yellow-band a {
  color: #ffffff;
}
.yellow-band a:hover {
  color: #0066b2;
}
.yellow-separator {
  background-color: #f8960c;
  color: #f8960c;   
}
.title-band-with-search {
  background-color: inherit;
  color: inherit;
  margin: 0;
}
.title-band-with-search h3 {
  margin: 0;
  font-size: 24.5px;
  font-family: inherit;
  font-weight: bold;
  text-rendering: optimizelegibility;
}
.title-band-with-search form {
  vertical-align: center;
  text-align: right;
}
h4 span {
  font-size: 16px;
}
/* Alphabet head searcher */
#letters {
  margin: 0;
  padding: 0 0 2px 0;
  list-style-type: none;
  align: center;
  text-align: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e3e3e3;
}
#letters li {
  display: inline;
}
/* Paginator */
#pages {
  margin: 0;
  padding: 2px 0 0 0;
  list-style-type: none;
  align: center;
  text-align: center;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e3e3e3;
}
#pages_unbordered {
  margin: 0;
  padding: 2px 0 0 0;
  list-style-type: none;
  align: center;
  text-align: center;
}
#pages .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}
#pages a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
}
#pages a:hover, #pages a:focus {
  color: #0066b2;
  border-color: #0066b2;
}
#pages a, #pages span, #pages em {
  padding: 0.2em 0.5em;
  margin-right: 1px;
}
#pages .disabled {
  color: #999999;
  border: 1px solid #dddddd;
}
#pages .page_info {
  padding: 0 0 2px 0;
}
#pages .page_info b {
}
/* Records navigator */
#records-navigator {
  margin: 0;
  padding: 0 0 2px 0;
  list-style-type: none;
  vertical-align: top;
  text-align: right;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e3e3e3;
}
#records-navigator li {
  display: inline;
}

/*
 * Tables
 */
/* Fixed table */
.joint {
  margin: 0;
}
table.fixed {
  table-layout: fixed;
}
table.fixed td {
  overflow: hidden;
}
.blue-row {
  background-color: #0066b2;
  color: white;
  margin: 0;
  font-size: 17.5px;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  text-rendering: optimizelegibility;
}
.yellow-row {
  background-color: #f8960c;
  color: white;   
  margin: 0;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  text-rendering: optimizelegibility;
}
.blue-row .blue-padded {
  padding: 5px 4px 5px 4px;   
}
.yellow-row .yellow-padded {
  padding: 3px 4px 3px 4px; 
}
.inactive-row {
  color: #777777;
}
/* General */
.underlined-tr {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e3e3e3;
}
.approved-tr {
  color: green;
}
td[align="right"] {
  text-align: right;
}
th[align="right"] {
  text-align: right;
}
td[align="center"] {
  text-align: center;
}
th[align="center"] {
  text-align: center;
}
td[align="left"] {
  text-align: left;
}
th[align="left"] {
  text-align: left;
}
tfoot {
  font-weight: bold;
  color: #a67326;
}
.totals {
  font-family: inherit;
  color: inherit;
  text-rendering: optimizelegibility;
  font-size: 14px;
}
.totals-shrinked {
  font-family: inherit;
  color: inherit;
  text-rendering: optimizelegibility;
}
/* Header table with image */
.header-with-image {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  table-layout: fixed !important;
}
.header-with-image tr {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}
.header-with-image td {
  margin: 0 !important;
  padding: 0 !important;
  width: 50% !important;
}
.header-title {
  vertical-align: bottom !important;
  text-align: left !important;
}
.header-image {
  vertical-align: center !important;
  text-align: right !important;
}
.header-with-image .header-title h3 {
  margin: 0 !important;
  font-family: inherit;
  font-weight: bold;
  /*line-height: 20px;*/
  color: inherit;
  text-rendering: optimizelegibility;  
}
/*
 * Show Tables (odd & even columns) blue background
 */
.TFtableCol {
  width:100%; 
  border-collapse:collapse; 
}
.TFtableCol td { 
  padding:7px;
  border:#4e95f4 1px solid;
}
/* improve visual readability for IE8 and below */
.TFtableCol tr {
  background: #b8d1f3;
}
/*  Define the background color for all the ODD table columns  */
.TFtableCol tr td:nth-child(odd) { 
  background: #b8d1f3;
}
/*  Define the background color for all the EVEN table columns  */
.TFtableCol tr td:nth-child(even) {
  background: #dae5f4;
}
/*
 * Show Tables (odd & even columns) bold titles
 */
.odd_even_table {
  width:100%; 
}
.odd_even_table td { 
}
/* improve visual readability for IE8 and below */
.odd_even_table tr {
  background: #ffffff;
}
/*  Define the background color for all the ODD table columns  */
.odd_even_table tr td:nth-child(odd) {
  font-weight: bold;
  /*color: #006dcc;
  *color: #006dcc;
  color: #777777;*/
  text-rendering: optimizelegibility;
}
/*  Define the background color for all the EVEN table columns  */
.odd_even_table tr td:nth-child(even) {
  background: #ffffff;
}
/*
 * Icons
 */
[class^="ico-"],
[class*=" ico-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
/* Sites */
.ico-admin {
  background-image: image-url("icon/ag2/admin.png");
}
.ico-analytics {
  background-image: image-url("icon/ag2/analytics.png");
}
.ico-directory {
  background-image: image-url("icon/ag2/directory.png");
}
.ico-gest {
  background-image: image-url("icon/ag2/gest.png");
}
.ico-helpdesk {
  background-image: image-url("icon/ag2/helpdesk.png");
}
.ico-human {
  background-image: image-url("icon/ag2/human.png");
}
.ico-logistics {
  background-image: image-url("icon/ag2/logistics.png");
}
.ico-purchase {
  background-image: image-url("icon/ag2/purchase.png");
}
.ico-teamnet {
  background-image: image-url("icon/ag2/teamnet.png");
}
.ico-tech {
  background-image: image-url("icon/ag2/tech.png");
}
.ico-time {
  background-image: image-url("icon/ag2/time.png");
}
.ico-track {
  background-image: image-url("icon/ag2/track.png");
}
/* Apps */
.ico-accounts {
  background-image: image-url("icon/ag2/accounts.png");
}
.ico-billing {
  background-image: image-url("icon/ag2/billing.png");
}
.ico-budgets {
  background-image: image-url("icon/ag2/budgets.png");
}
.ico-clients {
  background-image: image-url("icon/ag2/clients.png");
}
.ico-collections {
  background-image: image-url("icon/ag2/collections.png");
}
.ico-commercialbilling {
  background-image: image-url("icon/ag2/commercialbilling.png");
}
.ico-companies {
  background-image: image-url("icon/ag2/companies.png");
}
.ico-connectioncontracts {
  background-image: image-url("icon/ag2/connectioncontracts.png");
}
.ico-contracting {
  background-image: image-url("icon/ag2/contracting.png");
}
.ico-contractingrequests {
  background-image: image-url("icon/ag2/contractingrequests.png");
}
.ico-corp {
  background-image: image-url("icon/ag2/contacts_c.png");
}
.ico-counts {
  background-image: image-url("icon/ag2/counts.png");
}
.ico-deliveries {
  background-image: image-url("icon/ag2/deliveries.png");
}
.ico-entities {
  background-image: image-url("icon/ag2/entities.png");
}
.ico-invoices {
  background-image: image-url("icon/ag2/invoices.png");
}
.ico-meters {
  background-image: image-url("icon/ag2/meters.png");
}
.ico-offices {
  background-image: image-url("icon/ag2/offices.png");
}
.ico-orders {
  background-image: image-url("icon/ag2/orders.png");
}
.ico-offers {
  background-image: image-url("icon/ag2/offers.png");
}
.ico-payments {
  background-image: image-url("icon/ag2/payments.png");
}
.ico-prereadings {
  background-image: image-url("icon/ag2/prereadings.png");
}
.ico-projects {
  background-image: image-url("icon/ag2/projects.png");
}
.ico-products {
  background-image: image-url("icon/ag2/products.png");
}
.ico-reading {
  background-image: image-url("icon/ag2/reading.png");
}
.ico-readings {
  background-image: image-url("icon/ag2/readings.png");
}
.ico-receipts {
  background-image: image-url("icon/ag2/receipts.png");
}
.ico-regulations {
  background-image: image-url("icon/ag2/regulations.png");
}
.ico-requests {
  background-image: image-url("icon/ag2/requests.png");
}
.ico-saleoffers {
  background-image: image-url("icon/ag2/saleoffers.png");
}
.ico-servicebilling {
  background-image: image-url("icon/ag2/servicebilling.png");
}
.ico-servicepoint {
  background-image: image-url("icon/ag2/servicepoint.png");
}
.ico-shared {
  background-image: image-url("icon/ag2/contacts_s.png");
}
.ico-subscribers {
  background-image: image-url("icon/ag2/subscribers.png");
}
.ico-suppliers {
  background-image: image-url("icon/ag2/suppliers.png");
}
.ico-supplycontracts {
  background-image: image-url("icon/ag2/supplycontracts.png");
}
.ico-table {
  background-image: image-url("icon/ag2/table.png");
}
.ico-tariff {
  background-image: image-url("icon/ag2/tariff.png");
}
.ico-tariffs {
  background-image: image-url("icon/ag2/tariffs.png");
}
.ico-tariffschemes {
  background-image: image-url("icon/ag2/tariffschemes.png");
}
.ico-tickets {
  background-image: image-url("icon/ag2/tickets.png");
}
.ico-records {
  background-image: image-url("icon/ag2/time_r.png");
}
.ico-waterconnection {
  background-image: image-url("icon/ag2/waterconnection.png");
}
.ico-watersupply {
  background-image: image-url("icon/ag2/watersupply.png");
}
.ico-worders {
  background-image: image-url("icon/ag2/work_o.png");
}
.ico-workers {
  background-image: image-url("icon/ag2/workers.png");
}
/* Tools */
.ico-gmail {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  /* *margin-right: .3em;*/
  line-height: 14px;
  vertical-align: text-top;
  background-image: image-url("icon/google/gmail.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.ico-producteev {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  /* *margin-right: .3em;*/
  line-height: 14px;
  vertical-align: text-top;
  background-image: image-url("icon/producteev/producteev.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
/* Languages */
.ico-en-us {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 1px;
  /* *margin-right: .3em;*/
  line-height: 16px;
  vertical-align: text-top;
  background-image: image-url("icon/locales/halflings/en-US.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.ico-es-es {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 1px;
  /* *margin-right: .3em;*/
  line-height: 16px;
  vertical-align: text-top;
  background-image: image-url("icon/locales/halflings/es-ES.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
/* Others */
.icon-phone-white {
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-top: 1px;
  /* *margin-right: .3em;*/
  line-height: 14px;
  vertical-align: text-top;
  background-image: image-url("icon/glyph/white/halflings/phone.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-phone-black {
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-top: 1px;
  /* *margin-right: .3em;*/
  line-height: 14px;
  vertical-align: text-top;
  background-image: image-url("icon/glyph/black/halflings/phone.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-iphone-white {
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-top: 1px;
  /* *margin-right: .3em;*/
  line-height: 14px;
  vertical-align: text-top;
  background-image: image-url("icon/glyph/white/halflings/iphone.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-iphone-black {
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-top: 1px;
  /* *margin-right: .3em;*/
  line-height: 14px;
  vertical-align: text-top;
  background-image: image-url("icon/glyph/black/halflings/iphone.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-undo-white {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  /* *margin-right: .3em;*/
  line-height: 14px;
  vertical-align: text-top;
  background-image: image-url("icon/glyph/white/halflings/undo.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-undo-black {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  /* *margin-right: .3em;*/
  line-height: 14px;
  vertical-align: text-top;
  background-image: image-url("icon/glyph/black/halflings/undo.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-redo-white {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  /* *margin-right: .3em;*/
  line-height: 14px;
  vertical-align: text-top;
  background-image: image-url("icon/glyph/white/halflings/redo.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-redo-black {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  /* *margin-right: .3em;*/
  line-height: 14px;
  vertical-align: text-top;
  background-image: image-url("icon/glyph/black/halflings/redo.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.notice-icon-button {
  margin: 0 0 0 10px;
}
.icon-paperclip-black {
  display: inline-block;
  width: 15px;
  height: 14px;
  margin-top: 1px;
  /* *margin-right: .3em;*/
  line-height: 14px;
  vertical-align: text-top;
  background-image: image-url("icon/glyph/black/halflings/paperclip.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
/* Refresh icon (AJAX) */
.icon-refresh-link {
  float: right;
  margin: -14px -14px 0 0;
  padding: 0 0 0 0;
}

/*
 * Progress indicators
 */
div.bert2-black-progress {
  position: inherit;
  display: none;
  width: 128px;
  height: 15px;
  background-image: image-url('ani/bert2_black.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
}
div.bert2-blue-progress {
  position: inherit;
  display: none;
  width: 128px;
  height: 15px;
  background-image: image-url('ani/bert2_blue.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
}
div.bert2-green-progress {
  position: inherit;
  display: none;
  width: 128px;
  height: 15px;
  background-image: image-url('ani/bert2_green.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
}
div.bar-black-progress {
  position: inherit;
  display: none;
  width: 220px;
  height: 19px;
  background-image: image-url('ani/bar_black.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
}
div.bar-blue-progress {
  position: inherit;
  display: none;
  width: 220px;
  height: 19px;
  background-image: image-url('ani/bar_blue.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
}
div.bar-green-progress {
  position: inherit;
  display: none;
  width: 220px;
  height: 19px;
  background-image: image-url('ani/bar_green.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
}
div.indicator-black-progress {
  position: inherit;
  display: none;
  width: 32px;
  height: 32px;
  background-image: image-url('ani/indicator_black.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
}
div.indicator-blue-progress {
  position: inherit;
  display: none;
  width: 32px;
  height: 32px;
  background-image: image-url('ani/indicator_blue.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
}
div.indicator-green-progress {
  position: inherit;
  display: none;
  width: 32px;
  height: 32px;
  background-image: image-url('ani/indicator_green.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
}
div.indicator-black-progress-bordered {
  position: inherit;
  display: visible;
  width: 48px;
  height: 48px;
  background-image: image-url('ani/indicator_green.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
  border: 1px solid #000000;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
div.indicator-blue-progress-bordered {
  position: inherit;
  display: visible;
  width: 48px;
  height: 48px;
  background-image: image-url('ani/indicator_green.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
  border: 1px solid #0e90d2;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
div.indicator-green-progress-bordered {
  position: inherit;
  display: visible;
  width: 48px;
  height: 48px;
  background-image: image-url('ani/indicator_green.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
  border: 1px solid #62b135;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/*
 * Pagination
 */
.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }

/*
 * Modals
 */
.modal-options {
  margin-bottom: 0;
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 0px 0px 2px 0px;
  /* *zoom: 1; */
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

/*
 * jQuery Form Validator
 */
.jquery_form_error_message {
  display: block;
  margin-top: 3px;
  color: #f00;
}

/*
 * For slow pages
 */
#page-loader {
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background-color: white;
  z-index: 99;
  display: none;
  text-align: center;
  width: 100%;
  padding-top: 25px;
}
#loader {
  position: inherit;
  text-align: center;
  margin-bottom: 20px;
  display: none;
  width: 100%;
  height: 32px;
  background-image: image-url('ani/indicator-black.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
}