<% content_for :title, "aGestiona2 | ag2ClientPayments" %>
<% content_for :icon, "/assets/icon/ag2BillCollectionsB.png" %>
<% content_for :alt, "ag2ClientPayments" %>

<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.root_path %>">ag2Gest</a><span class="divider">></span>
  </li>
  <li>
    Cobros
  </li>

  <!-- Close -->
  <a class="close" href="<%= ag2_gest.root_path %>">&#215;</a>
</ul>
