<% content_for :title, "aGestiona2 | ag2Gest" %>
<% content_for :icon, "/assets/icon/ag2DebtManagement.png" %>
<% content_for :alt, "ag2Gest" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
	<li>
    <a href="<%= ag2_gest.root_path %>">ag2Gest</a><span class="divider">></span>
  </li>
  <li>
    <%=t "ag2_gest.home.index.debt_claim_management" %>
  </li>
  <a class="close" href="<%= main_app.root_path %>">&#215;</a>
</ul>
