<%= render '/layouts/ag2_human/dtypesbreadcrumb' %>

<h3>Edit Degree type</h3>

<%= render 'form' %>

<%= link_to 'Show Degree type', @degree_type %> |
<%= link_to 'Back to Degree types', degree_types_path %>
