<%= render '/layouts/ag2_gest/billingperiodsbreadcrumb' %>

<%#= render :partial => '/layouts/searchhead_remote', :locals => { :title => t(".title"), :path => billing_periods_path } %>

<h3><%= t(".title") %></h3>

<div class="span11" id="div_table">
  <%= render 'billing_periods' %>
</div>