<h1>Listing work_order_areas</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @work_order_areas.each do |work_order_area| %>
  <tr>
    <td><%= link_to 'Show', work_order_area %></td>
    <td><%= link_to 'Edit', edit_work_order_area_path(work_order_area) %></td>
    <td><%= link_to 'Destroy', work_order_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work order area', new_work_order_area_path %>
