<img class="footer-nav-brand pull-left" src="/assets/icon/aGestiona2.png" width="165" height="48" alt="aGestiona2" />
<ul class="nav pull-right">
  <li class="dropdown footer-nav-li">
    <!-- Global web sites -->
    <a href="#"
    class="dropdown-toggle"
    data-toggle="dropdown"><i class="icon-globe"></i> <b class="caret"></b> </a>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a href="http://www.aguasdeguadix.com" target="_blank"><i class="icon-globe"></i> aguasdeguadix.com</a>
      </li>
      <li>
        <a href="http://www.elsur.es" target="_blank"><i class="icon-globe"></i> elsur.es</a>
      </li>
      <li>
        <a href="http://www.aguaygestion.es" target="_blank"><i class="icon-globe"></i> aguaygestion.es</a>
      </li>
    </ul>
  </li>
  <li class="dropdown footer-nav-li">
    <!-- Languages -->
    <a href="#"
    class="dropdown-toggle"
    data-toggle="dropdown"><i class="icon-flag"></i> <b class="caret"></b> </a>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a href="<%= main_app.root_path %>"><i class="ico-en-us"></i> English</a>
      </li>
      <li>
        <a href="<%= main_app.root_path %>"><i class="ico-es-es"></i> Espa&ntilde;ol</a>
      </li>
    </ul>
  </li>
  <li class="footer-nav-li">
    <a href="#" onclick="javascript:DisplaySizeInfo();"><%= session[:resolution]%></a>
  </li>
</ul>

<!--
  <li class="footer-nav-li">
    <a href="http://www.aguasdeguadix.com" target="_blank"><i class="icon-globe"></i> aguasdeguadix.com</a>
  </li>
  <li class="footer-nav-li">
    <a href="http://www.elsur.es" target="_blank"><i class="icon-globe"></i> elsur.es</a>
  </li>
  <li class="footer-nav-li">
    <a href="http://www.aguaygestion.es" target="_blank"><i class="icon-globe"></i> aguaygestion.es</a>
  </li>
-->