<img class="footer-nav-brand pull-left" src="/assets/icon/aGestiona2.png" width="165" height="48" alt="aGestiona2" />
<ul class="nav pull-right">
    <li class="footer-nav-li">
        <a href="#">One</a>
    </li>
    <li class="footer-nav-li">
        <a href="#">Two</a>
    </li>
</ul>
