<img class="footer-nav-brand pull-left" src="/assets/icon/aGestiona2.png" width="165" height="48" alt="aGestiona2" />
<ul class="nav pull-right">
    <li class="footer-nav-li">
        <a href="http://www.aguasdeguadix.com" target="_blank"><i class="icon-globe"></i> aguasdeguadix.com</a>
    </li>
    <li class="footer-nav-li">
        <a href="http://www.elsur.es" target="_blank"><i class="icon-globe"></i> elsur.es</a>
    </li>
    <li class="footer-nav-li">
        <a href="http://www.aguaygestion.es" target="_blank"><i class="icon-globe"></i> aguaygestion.es</a>
    </li>
</ul>
