<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
<% if I18n.locale == :es %>
<img src="/assets/icon/ag2Guides_es.png" class="brand" width="165" height="48" alt="ag2Guides" />
<% else %>
<img src="/assets/icon/ag2Guides_en.png" class="brand" width="165" height="48" alt="ag2Guides" />
<% end %>
<div class="nav-collapse">
  <ul class="nav">
    <li class="header-nav-li">
    </li>
  </ul>
  <p class="pull-right" style="padding-top: 13px">
    <a href="<%= main_app.root_path %>" class="btn btn-primary"><%= t :close_button %></a>
  </p>
</div><!--/.nav-collapse -->
