<img class="footer-nav-brand pull-left" src="/assets/icon/aGestiona2.png" width="165" height="48" alt="aGestiona2" />
<p class="navbar-text pull-right" style="padding-top: 5px">
  &copy; <%= Time.now.year %> Agua y Gesti&oacute;n
</p>
