<ul id="letters">
  <% letters.each do |l| %>
  <li>
    <%= link_to l, :controller => controller, :action => action, :letter => l %> |
  </li>
  <% end %>
  <li>
    <%= link_to "%", :controller => controller, :action => action, :letter => "%" %>
  </li>
</ul>
