<img class="footer-nav-brand pull-left" src="/assets/icon/Ayg.png" width="131" height="38" alt="Agua y Gesti&oacute;n" />
<p class="navbar-text pull-right">
  &copy; <%= Time.now.year %> Agua y Gesti&oacute;n
</p>
