<!-- Modals -->
<div class="container">
  <div id="notfound" class="modal hide fade in" style="display: none; ">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>aGestiona2: Advertencia</h3>
    </div>
    <div class="modal-body">
      <h4>El recurso solicitado no está disponible.</h4>
      <p>
        La aplicaci&oacute;n o el sitio web requerido no se ha encontrado. Recibir&aacute; una notificaci&oacute;n cuando el recurso se encuentre operativo.
      </p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-primary" data-dismiss="modal">Cerrar</a>
    </div>
  </div>
</div>
