<% content_for :title, "aGestiona2 | ag2Portal" %>
<% content_for :icon, "/assets/icon/ag2Portal.png" %>
<% content_for :alt, "ag2Portal" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i><span class="divider">></span>
  </li>
  <li>
    ag2Portal
  </li>
</ul>
