<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
<img src="/assets/icon/aGestiona2.png" class="brand" width="165" height="48" alt="aGestiona2" />
<div class="nav-collapse">
  <p class="pull-right" style="padding-top: 13px">
    <a href="<%= main_app.destroy_user_session_path %>" class="btn btn-danger" data-method="delete" rel="nofollow"><%=t :nav_sign_out %></a>
  </p>
</div><!--/.nav-collapse -->
