<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
<img src="/assets/icon/aGestiona2.png" class="brand" width="165" height="48" alt="aGestiona2" />
<div class="nav-collapse">
  <p class="pull-right" style="padding-top: 13px">
    <%= link_to "Sign up", main_app.new_user_registration_path, :class => 'btn btn-danger'  %>
  </p>
</div><!--/.nav-collapse -->
